{% extends "base.html" %}

{% load static %}
{% block css %}<link href="{% static 'css/homepage.css' %}" rel="stylesheet">{% endblock %}

{% block title %}全国企业信息管理系统{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1 class="text-center">
                全国企业信息管理系统
            </h1>
            <ul class="nav nav-tabs">
                <li role="presentation"><a href="{% url 'root' %}">查公司</a></li>
                <li role="presentation"><a href="{% url 'search_human' %}">查老板</a></li>
                <li role="presentation" class="active"><a href="#">查行业</a></li>
            </ul>
            <form class="form-horizontal" action="{% url 'statistic' %}" method="post">
                {% csrf_token %}

                <div class="form-group">
                    <div class="col-md-12">
                        {{ search_form.industry.label_tag }}
                        {{ search_form.industry }}
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        {{ search_form.province.label_tag }}
                        {{ search_form.province }}
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10 search-name">
                    </div>
                    <div class="col-md-2 submit">
                        <button type="submit" class="btn btn-primary btn-block btn-lg">搜索</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}