{% extends 'base.html' %}

{% block title %}搜索结果{% endblock %}

{% block body %}
    <div class="container">
        <h3>搜索结果：</h3>
        <div class="panel panel-default">
            <div class="panel-heading">
                共找到{{ company_count }}家公司
            </div>

            <div class="panel-body">
                <div class="btn-group-vertical btn-block" role="group">
                    {% for company in company_list %}
                        <a href="{% url 'company:detail' company.id %}" class="btn btn-default btn-block btn-lg">
                            {{ company.name }}
                        </a>
                    {% endfor %}
                </div>
                <nav class="text-center">
                    <ul class="pagination pagination-lg">
                        <li {% if page == 1 %}class="disabled"{% endif %}>
                            <a {% if page != 1 %}href="{% url 'company:search' name province industry capital company_type operating_status pre_page %}{% endif %}">
                                <span>&laquo;</span>
                            </a>
                        </li>
                        {% for i in page_list %}
                            <li {% if i == page %}class="active"{% endif %}>
                                <a href="{% url 'company:search' name province industry capital company_type operating_status i %}">
                                    {{ i }}
                                </a>
                            </li>
                        {% endfor %}
                        <li {% if page == total_page %}class="disabled"{% endif %}>
                            <a {% if page != total_page %}href="{% url 'company:search' name province industry capital company_type operating_status next_page %}"{% endif %}>
                                <span>&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}