{% extends 'base.html' %}

{% block title %}{{ name }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                他的商业角色
            </div>

            <div class="panel-body">
                <table class="table table-bordered">
                    <thead>
                        <th>企业名称</th>
                        <th>职位</th>
                    </thead>
                    <tbody>
                        {% for serve in serving %}
                            <tr>
                                <td>
                                    <a href="{% url 'company:detail' serve.company.id %}">
                                        {{ serve.company.name }}
                                    </a>
                                </td>
                                <td>{{ serve.position }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}